.ar-generation {
    text-align: center;
    @include tablet {
        text-align: left;
        max-width: 800px;
        margin: auto;
    }

    &_content {
        @include tablet {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    &_intro {
        text-align: center;
    }
    &_intro,
    &_text {
        width: 90%;
        margin: 0 auto 60px;
        @include tablet {
            width: auto;
        }
    }
    &_icon {
        display: block;
        margin: 0 auto 60px;
        width: 90%;
        @include tablet {
            width: 250px;
            margin: 0 50px 0 0;
        }
    }
    &_title {
        @extend %heading-3;
    }
}
