.contacts {
    text-align: center;
    @include tablet {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        text-align: left;
    }

    &_data {
        margin: 0 0 24px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        text-align: left;

        &:first-child {
            margin-top: 60px;
        }
    }
    &_data-icon-wrapper {
        width: 55px;
        flex-shrink: 0;
    }
    &_data-value {
        flex-grow: 1;
        max-width: 450px;
    }
    &_form {
        background: #fff;
        border-radius: 10px;
        padding: 30px;
        margin: 32px 0 50px;
        box-sizing: border-box;
        @include tablet {
            margin: 0 0 0 30px;
            width: 380px;
        }
    }
    &_form-title {
        @extend %heading-3;
        margin: 0 0 60px;
        display: block;
        color: $color;
        @include tablet {
            text-align: left;
        }
    }
    &_field {
        margin: 0 0 30px;
    }
    &_submit {
        margin: 0 0 16px;
    }
}
