.showcase {
    margin: 0 0 70px;
    padding: 0 0 1px;
    position: relative;

    &::after {
        content: '';
        height: 4px;
        width: 60px;
        position: absolute;
        left: 50%;
        top: 100%;
        background-color: $cPink;
        margin: 0 0 0 -30px;
    }

    &_title {
        @include gradiented-text($cPink, $cPurple);
        font-size: 40px;
        line-height: .85;
        font-weight: normal;
        text-transform: uppercase;
        text-shadow: 0px 0px 20px $cPink;
        text-align: center;
        margin: 118px -10px 58px;
        position: relative;
        padding: 0 0 36px;
        font-size: 40px;
        @include media(375px) {
            font-size: 50px;
        }
        @include tablet {
            margin-left: auto;
            margin-right: auto;
            max-width: 75vw;
            padding-bottom: 74px;
        }

        &::after {
            content: '';
            background: $cPink  ;
            height: 4px;
            width: 60px;
            position: absolute;
            left: 50%;
            bottom: 0;
            margin: 0 0 0 -30px;
        }
    }
    &_title-wrapper {
        @include tablet {
            display: block;
        }
    }
}
