.cookies-banner {
    background-color: $cBlue;
    padding: 20px;
    font-size: 15px;
    color: $cLight;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: none;
    @include media(1336px) {
        font-size: 23px;
    }

    &_content {
        margin: auto;
        max-width: $max-width;
        @include tablet {
            align-items: center;
            justify-content: space-between;
            display: flex;
            max-width: calc(72vw + 9.3vw + 80px);
        }
        @include desktop {
            max-width: calc(72vw + 168px / 2);
        }

        .slides-page & {
            @include tablet {
                max-width: calc(75vw + 9.3vw + 80px);
                
            }
            @include desktop {
                max-width: calc(60vw + 9.3vw + 50px);
            }
        }
    }
    &_buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0 0;
        @include tablet {
            margin: 0 0 0 48px;
        }
    }
    &_button {
        color: $cLight;
        background: transparent;
        font-size: 16px;
        padding: 0;
        margin: 0 15px;
        white-space: nowrap;
        height: 40px;
        line-height: 40px;
        display: inline-block;
        @include tablet {
            font-size: 20px;
            height: 56px;
            line-height: 56px;
        }

        &__main {
            padding: 0 33px;
            background-color: $color;
        }
    }
}
