.subscribe {
    display: flex;
    margin: 0 0 50px;
    @include tablet {
        width: 50%;
        order: 2;
        display: flex;
        justify-content: center;
    }

    &_input[type] {
        padding: 0 50px 0 25px;
        margin: 0 -50px 0 0;
        width: 73%;
        border: 1px solid $color;
        border-radius: 100px;
        @include desktop {
            width: 45%;
        }

        .submited & {
            display: none;
        }
    }
    &_button[type] {
        background: $color;
        padding-left: 26px;
        padding-right: 26px;
        width: auto;
        transition: .2s $easing opacity;

        &:hover {
            opacity: .6;
            outline: none;
        }
        &:active {
            opacity: .8;
            outline: none;
        }

        .submited & {
            display: none;
        }
    }
    &_result {
        display: none;

        .submited & {
            display: block;
        }
    }
}
