.game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #171a1c;
    padding: 10px 15px;
    height: 40px;

    &_left,
    &_right {
        display: flex;
        align-items: center;
        width: 115px;
    }
    &_left {
        padding-right: 10px;
    }
    &_right {
        padding-left: 10px;
        justify-content: flex-end;
        display: none;
        @include desktop {
            display: flex;
        }
    }
    &_balance {
        display: flex;
        align-items: center;

        .add-button {
            margin-left: 20px;
        }
    }
    &_holder {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        @include tablet {
            width: 1160px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &_buttons {
        display: none;
        @include tablet {
            display: flex;
        }
    }
    &_button {
        display: flex;
        color: $light_color;
        height: 28px;
        min-width: 33px;
        background-color: transparent;
        border: none;
        padding: 0;
        vertical-align: middle;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &:hover,
        &:active {
            background-color: transparent;
            border: none;
        }

        & + & {
            margin: 0 0 0 1px;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 30%;
                width: 1px;
                height: 11px;
                background: #5d5f61;
            }
        }
        
        &__favorite {
            background: url(#{$img-path}/icons/star-empty.svg) no-repeat center center;
            background-size: 16px auto;
        }
        &__favorited {
            background: url(#{$img-path}/icons/star.svg) no-repeat center center;
            background-size: 16px auto;
        }
        &__resize {
            background: url(#{$img-path}/icons/full-screen.svg) no-repeat center center;
            background-size: 16px auto;
        }
        &__minimize {
            background: url(#{$img-path}/icons/minimize.svg) no-repeat center center;
            background-size: 16px auto;
        }
        &__close {
            background: url(#{$img-path}/icons/close.svg) no-repeat center center;
            background-size: 16px auto;
        }
    }

    &_button-image {
        width: 41px;
        height: 34px;
        max-width: none;
        margin: 0 10px 0 0;
    }

    &_call {
        height: 38px;
        width: 38px;
        border-radius: 50%;
        background-image: url(#{$img-path}/icons/operator.svg);
        background-repeat: no-repeat;
        background-position: center center;
        padding: 0;
        background-size: 20px auto;
        margin: 0 10px 0 0;
    }

    .logo_image {
        display: none;
        @include tablet {
            display: block;
            width: 128px;
        }
    }

    &_mobile-logo {
        @include tablet {
            display: none;
        }
    }
    &_mobile-logo-image {
        width: 100px;
        height: 47px;
    }

    &_submenu {
        background: $bg_color;
        padding: 10px 0 0;
        border-radius: 10px;
        position: absolute;
        left: -12px;
        top: 100%;
        display: flex;
        flex-wrap: wrap;
        width: 250px;
        margin: 30px 0 0;
        opacity: 0;
        pointer-events: none;
        transition: .2s ease-in-out opacity;

        &::before {
            content: '';
            position: absolute;
            height: 30px;
            bottom: 100%;
            left: 0;
            right: 0;
        }
        &::after {
            content: '';
            position: absolute;
            height: 30px;
            bottom: 100%;
            left: 25px;
            border-width: 12px;
            border-style: solid;
            border-color: transparent transparent $bg_color transparent;
        }

        .game-header_button:hover & {
            pointer-events: all;
            opacity: 1;
        }
    }
    &_submenu-item {
        box-sizing: border-box;
        padding: 0 5px 12px 10px;
        width: 50%;
        font-size: 13px;
        color: $light_color;
        text-align: center;

        &:nth-child(2n) {
            padding: 0 10px 12px 5px;
        }
    }
    &_submenu-image {
        width: 100%;
        margin: 0 0 3px;
        border-radius: 10px;
    }

    .user_info {
        display: none;
        @include media(500px) {
            display: flex;
        }
    }
    .user_balance {
        display: none;
        @include tablet {
            display: flex;
        }
    }
}
