.game-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: $dark_color;
    padding: 15px 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 0 30px 4px rgba(#000, .5);
    display: none;
    @include media(420px) {
        left: auto;
        width: 240px;
        border-radius: 15px 0 0 15px;
    }
    @include desktop {
        display: none;
    }

     &.opened {
        display: block;
    }

    .logo_image {
        width: 100px;
        margin: 0 0 40px;
    }
    .add-button {
        margin: 0 0 0 24px;
    }

    &_buttons {
        display: flex;
        margin: 20px auto 32px;
    }
    &_button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        border: 1px solid $light_color;
        margin: 0 4px;
        background-size: 16px auto;

        &:hover,
        &:active {
            background-color: transparent;
            border-color: $light_color;
            color: $light_color;
        }

        &__favorite {
            background: url(#{$img-path}/icons/star-empty.svg) no-repeat center center;
            background-size: 16px auto;
        }
        &__favorited {
            background: url(#{$img-path}/icons/star.svg) no-repeat center center;
            background-size: 16px auto;
        }

        img {
            width: 16px;
        }
    }
    &_bottom {
        display: flex;
    }
}
