.logo {

    &_image {
        display: block;
        margin: 0 auto 11px;
        width: 110px;
        @include tablet {
            width: auto;
            margin-bottom: 13px;
        }
    }
}
