.slider {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    background:  url(#{$img-path}/slider-line.png) no-repeat center bottom;
    background-size: 100% auto;
    padding: 0 0 20px;
    margin: 0 0 20px;
    @include tablet {
        padding: 0 0 10px;
    }
    @include desktop {
        margin: -154px 0 38px;
    }

    &_item {
        position: relative;
        min-height: 250px;
        @include desktop {
            min-height: 1px;
        }
    }
    &_image {
        width: 100%;
        margin: 0 0 80px;
        display: none;
        @include tablet {
            display: block;
            margin: 0;
        }

        &__mobile {
            display: block;
            @include tablet {
                display: none;
            }
        }
    }
    &_text {
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translate(-50%, 0);
        @include tablet {
            bottom: 21%;
        }
        @include desktop {
            bottom: 11%;
        }

        .slider_item:nth-child(3) & {
            @include tablet {
                left: auto;
                right: 14%;
                bottom: 40%;
            }
        }
        .slider_item:nth-child(4) & {
            @include tablet {
                left: auto;
                right: 14%;
                bottom: 20%;
            }
        }
    }
}
