.title {
    @extend %heading-1;
    max-width: 620px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto 20px;
    position: relative;
    text-transform: uppercase;
    @include tablet {
        margin-bottom: 45px;
    }

    &__small {
        max-width: 85%;
        margin-bottom: 25px;
    }
    &__left {
        text-align: left;
        max-width: none;
    }

    .popup & {
        @include tablet {
            margin-bottom: 25px;
        }
    }

    &_text {
        position: relative;

        &::before {
            content: '';
            border-top: 2px solid $bright_color;
            position: absolute;
            right: 95%;
            top: 45%;
            width: 500px;
            margin-right: 20px;
            @include tablet {
                margin-right: 36px;
            }
        }
        &::after {
            content: '';
            border-top: 2px solid $bright_color;
            position: absolute;
            left: 95%;
            top: 45%;
            width: 500px;
            margin-left: 16px;
            @include tablet {
                margin-left: 36px;
            }
        }

        .title__extra-small & {
            font-size: 18px;
            @include tablet {
                font-size: 20px;
            }
        }
        .title__left &::before {
            display: none;
        }
        .title__left &::after {
            width: 2000px;
        }
    }
    &_bright {
        color: $bright_color;
    }
}
