.add-button {
    background-color: #52ac62;
    border-color: #52ac62;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    min-width: 120px;
    transition: .2s ease-in-out filter, .2s ease-in-out opacity;

    &__small {
        font-size: 0;
        color: transparent;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        min-width: 0;
        padding: 0;
    }

    &__bold {
        font-weight: 600;
    }

    &:hover {
        background-color: #52ac62;
        border-color: #52ac62;
        filter: contrast(2);
    }
    &:active {
        background-color: #52ac62;
        border-color: #52ac62;
        filter: contrast(2) brightness(.8);
    }

    &_icon {
        width: 10px;
        height: 10px;
        vertical-align: middle;
    }
}

