.articles {
    margin: 50px 0 40px;
    @include tablet {
        margin: 150px 0 90px;
    }
}

.article {
    background-color: $cBlue;
    padding: 20px 0;
    margin: 0 0 10px;
    position: relative;
    transition: .3s $easing padding;
    @include tablet {
        padding: 70px 0 50px;
    }

    &.opened {
        padding-top: 50px;
        padding-bottom: 130px;
        @include tablet {
            padding-top: 70px;
            padding-bottom: 180px;
        }
    }

    &_header {
        cursor: pointer;
        position: relative;
        padding: 0 $indent;
        @include tablet {
            display: flex;
            padding: 0 70px;
        }
    }
    &_intro {
        display: none;
        @include tablet {
            display: block;
        }
    }
    &_title {
        display: inline-block;
        margin: 0 0 16px;
        width: 80%;
        @include tablet {
            position: relative;
            margin-bottom: 100px;
        }
    }
    &_subtitle {
        font-size: 24px;
        padding: 0 0 20px;
        margin: 0 0 50px -64px;
        border-bottom: 1px solid transparent;
        transition: .2s $easing border;
        @include tablet {
            font-size: 30px;
            margin-bottom: 100px;
            margin-left: -20vw;
        }

        .opened & {
            border-bottom-color: #E2E2E2;
        }
    }
    &_duration {
        transition: .3s $easing opacity;

        .opened & {
            opacity: 0;
        }
    }
    &_number {
        font-size: 18px;
        position: absolute;
        right: $indent;
        top: 0;
        @include tablet {
            font-size: 21px;
            position: static;
            vertical-align: top;
            position: relative;
            top: 10px;
            right: 4px;
        }
    }
    &_content {
        padding: 50px $indent 50px 80px;
        max-height: 0;
        overflow: hidden;
        transition: .6s $easing max-height .2s;
        @include tablet {
            padding-left: 45%;
            padding-right: 230px;
        }

        .opened & {
            max-height: 5000px;
        }

        .heading-1 {
            font-size: 17vw;
            @include tablet {
                font-size: 200px;
            }
        }
    }
    &_next {
        position: absolute;
        left: $indent;
        bottom: 50px;
        padding: 0 0 0 40px;
        background: url(#{$img}/arrow-down.svg) no-repeat left center;
        width: auto;
        visibility: hidden;
        transition: .5s visibility 2s;
        @include desktop {
            left: 70px;
        }

        .opened & {
            visibility: visible;
        }
    }

    section {
        margin: 0 0 50px;
        position: relative;
        @include tablet {
            margin-bottom: 100px;
        }
    }
    h2 {
        margin: 50px 0;
        @include tablet {
            margin: 100px 0;
        }
    }
    img {
        width: 110%;
        max-width: 110%;
        margin: 50px 0 0 -80px;
        @include tablet {
            position: absolute;
            top: 100%;
            right: calc(100% + 100px);
            width: 100%;
            margin: 0;
        }
    }
}
