.footer {
    position: relative;
    padding: 0 0 100px;
    @include tablet {
        position: static;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 0 0 0 24px;
        @include tablet {
            padding-left: 9.3vw;
        }
    }

    &::after {
        content: '';
        background: url(#{$img}/footer-bg-mobile.svg) no-repeat left bottom / 100% auto;
        position: absolute;
        bottom: 0;
        height: 100%;
        left: -$indent;
        right: -$indent;
        z-index: -1;
        @include tablet {
            display: none;
        }
    }

    .slides-page & {
        padding: 0 0 100px;
        @include tablet {
            padding: 0;
        }

        &::after {
            display: none;
        }
    }
}
