.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 0 54px;
    @include tablet {
        position: relative;
    }

    .slides-page & {
        position: absolute;
        top: 35px;
        z-index: 2;
        right: 25px;
        @include tablet {
            top: 68px;
            left: 50%;
            width: 90%;
            right: auto;
            transform: translateX(-50%);
        }
        @include desktop {
            width: $max-width;
        }
    }
}
