.logo {
    position: absolute;
    left: 0;
    top: -80px;
    @include tablet {
        left: -4px;
        top: -108px;
    }
    @include desktop {
        top: 5px;
        left: -166px;
    }

    &_icon {
        width: 36px;
        @include tablet {
            width: 100px;
        }
        @include desktop {
            width: 154px;
        }
    }
}
