.menu-toggle {
    background: transparent;
    padding: 10px;
    border: none;
    width: auto;
    height: auto;
    @include tablet {
        display: none;
    }
    &_line {
        width: 28px;
        height: 3px;
        margin: 3px 0;
        background-color: $color;
    }
}
