.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 85vh;
    transform: translate(-50%, -50%);
    @include tablet {
        position: fixed;
        z-index: 2;
        transition: .6s $easing transform;
        left: 28px;
        top: 50%;
        left: calc(50% - (75vw + 190px) / 2);
        transform: translateY(-61%);
    }
    @include desktop {
        left: calc(50% - (60vw + 190px) / 2);
    }

    &[data-slide="1"] {
        @include tablet {
            transform: translateY(-95%);
        }
        @include desktop {
            transform: translateY(-99%);
        }
    }
    &[data-slide="2"] {
        @include tablet {
            transform: translateY(-148%);
        }
        @include desktop {
            transform: translateY(-155%);
        }
    }
    &[data-slide="3"] {
        @include tablet {
            transform: translateY(-154%);
        }
        @include desktop {
            transform: translateY(-135%);
        }
    }
    &[data-slide="4"] {
        @include tablet {
            transform: translateY(-156%);
        }
        @include desktop {
            transform: translateY(-106%);
        }
    }

    &_icon {
        width: 80px;
        @include tablet {
            width: 100px;
        }
        @include desktop {
            width: 154px;
        }
    }

    &_up,
    &_down {
        padding: 10px 0;
        background-color: transparent;
        border: none;
        border-radius: 0;
        background: no-repeat center center;
        transition: .2s ease-in-out opacity;
        width: 17px;
        height: 17px;
        background-size: 100% 100%;
        margin: 6px 0;
        opacity: .5;
        @include tablet {
            padding: 20px;
            width: 33px;
            height: 33px;
            background-size: 23px 23px;
        }

        &:hover {
            opacity: 1;
        }
        &:active {
            opacity: .8;
        }
    }
    &_up {
        background-image: url(#{$img}/up.svg);

        [data-slide="0"] & {
            opacity: 0;
            pointer-events: none;
        }
    }
    &_down {
        background-image: url(#{$img}/down.svg);

        [data-slide="4"] & {
            opacity: 0;
            pointer-events: none;
        }
    }

    &_caption {
        animation: .6s captionDissapearing 2s $easeOutCirc forwards;
        font-size: 16px;
        position: absolute;
        top: -30%;
        left: 52%;
        transform: translateX(-50%);
        width: 90%;
        pointer-events: none;
        opacity: 1;
        text-align: center;
        transition: .3s $easing opacity;
        @include tablet {
            display: none;
        }
        @include desktop {
            font-size: 25px;
        }
        
        &__desktop {
            display: none;
            @include tablet {
                display: block;
                top: 100%;
                left: 52%;
            }
        }
    }
}

@keyframes captionDissapearing {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
