.title {
    position: relative;

    &::before {
        @include media(400px) {
            content: '';
            width: 4px;
            height: 34px;
            position: absolute;
            left: -24px;
            top: 4px;
            background-color: $color;
        }
        @include tablet {
            content: none;
        }
    }
}
