html,
body {
    position: relative;
}

body {
    background: url(#{$img}/header-bg-mobile.svg) no-repeat 0 0;
    background-color: $bg_color;
    background-size: auto auto;
    color: $color;
    font: #{$font-size__small}/#{1.2} $font-family;
    padding: 0;
    scroll-behavior: smooth;
    overflow: hidden;
    height: 100vh;
    @include tablet {
        padding: 0 $indent 150px;
        overflow: auto;
        height: auto;
        background: url(#{$img}/bg.svg) no-repeat 0 0, 
            url(#{$img}/footer-bg.svg) no-repeat left bottom;
        background-color: $bg_color;
        background-size: auto auto, 100% auto;
        font-size: 18px;
        margin: auto;
        max-width: 80vw;
    }
    @include desktop {
        max-width: $max-width;
        font-size: $font-size;
    }
}

a {
    color: $cPink;
    text-decoration: none;
    transition: .2s $easing opacity;

    &:hover,
    &.hover {
        opacity: .6;
        outline: none;
    }
    &:active,
    &.active {
        opacity: .8;
        outline: none;
    }
}

p {
    margin: 0 0 20px;
    @include tablet {
        margin-bottom: 26px;
    }
}

img {
    max-width: 100%;
}

button,
input,
textarea {
    &:focus {
        outline: none;
    }
}
