@font-face {
    font-family: 'ND Astroneer';
    src: local('ND Astroneer'), local('NDAstroneer'),
        url('src/fonts/NDAstroneer.woff2') format('woff2'),
        url('src/fonts/NDAstroneer.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
