.preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color;
    z-index: 100;
    // display: none;
    animation: fadeout 5.3s linear forwards;

    &_holder {
        max-width: 415px;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}
