.form {
    max-width: 700px;
    padding: 23px 0 0;
    margin: auto;
    border-top: 2px solid currentColor;
    border-bottom: 2px solid currentColor;

    &_row {
        margin: 0 0 13px;
        position: relative;

    }

    &_error {
        font-size: 14px;
        line-height: 19px;
        color: #ff0000;
        position: absolute;
        left: 0;
        bottom: -27px;
        display: none;

        .error & {
            display: block;
        }
    }
}
