.arrowed-text {
    display: flex;
    align-items: center;
    justify-content: center;

    &__light {
        margin: 13px 0 18px;
    }

    &_title {
        font-weight: 600;
        margin: 0 6px;
        color: $bright_color;
        display: block;
        white-space: nowrap;
        font-style: normal;
        transition: .2s ease-in-out color;

        .arrowed-text:hover & {
            color: $bright_color__hover;
        }
        .arrowed-text:active & {
            color: $bright_color__active;
        }

        .arrowed-text__light & {
            @include gradiented-text(#fc6c4f, #d82e32);
        }
    }

    &_arrows {
        display: flex;
    }
    &_arrow-right,
    &_arrow-left {
        width: 9px;
        height: 13px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin: 2px 0 0;
    }

    &_arrow-right {
        background-image: url(#{$img-path}/icons/chevron-right.svg);

        &:nth-child(1) {
            animation: .7s arrow linear infinite;
        }
        &:nth-child(2) {
            animation: .7s arrow linear infinite .2s;
        }
        &:nth-child(3) {
            animation: .7s arrow linear infinite .4s;
        }
    }
    &_arrow-left {
        background-image: url(#{$img-path}/icons/chevron-left.svg);

        &:nth-child(1) {
            animation: .7s arrow linear infinite .4s;
        }
        &:nth-child(2) {
            animation: .7s arrow linear infinite .2s;
        }
        &:nth-child(3) {
            animation: .7s arrow linear infinite;
        }
    }
}

@keyframes arrow {
    0% {
        opacity: .2;
    }
    100% {
        opacity: 1;
    }
}
