.bonuses-wrapper {
    margin: 0 0 120px;
    @include tablet {
        margin: 0 0 180px;
    }
}

.bonuses {
    position: relative;
    margin: 0 0 40px;
    text-align: center;
    @include desktop {
        margin: 0 0 8px;
    }

    &_holder {
        text-align: left;
        @include tablet {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 -15px;
        }
        
        &__center {
            @include media(1150px) {
                justify-content: center;
            }
        }
    }

    &_item {
        cursor: pointer;
        box-sizing: border-box;
        border: 2px solid $bright_color;
        border-radius: 12px;
        position: relative;
        display: flex;
        align-items: center;
        padding: 20px;
        min-height: 315px;
        overflow: hidden;
        margin: 0 0 20px;
        box-shadow: 0 0 10px 7px rgba(#ae1e23, .25), 0 0 10px 7px rgba(#ae1e23, .25) inset;
        transition: .2s ease-in-out box-shadow, .2s ease-in-out filter;
        @include tablet {
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 30px;
            padding: 25px 30px 58px 30px;
            width: calc(50% - 60px);
            flex-grow: 1;
        }
        @include media(1150px) {
            width: 30%;
        }

        &:hover {
            box-shadow: 0 0 27px 5px rgba(#ae1e23, .5), 0 0 10px 7px rgba(#ae1e23, .25) inset;
        }
        &:active {
            filter: saturate(1.5);
        }

        .bonuses_holder__center & {
            @include media(1150px) {
                flex-grow: 0;
            }
        }

        &__unavailable,
        &__unavailable:hover {
            border-color: #7a2425;
            box-shadow: 0 0 10px 7px rgba(#ae1e23, .15), 0 0 10px 7px rgba(#ae1e23, .15) inset;
        }
        &__wide {
            min-height: 160px;
            padding-bottom: 90px;
            @include tablet {
                padding: 20px 170px 28px 30px;
            }
        }
        &__extra-wide {
            min-height: 120px;
            padding-bottom: 90px;
            display: block;
            @include tablet {
                display: flex;
                padding: 15px 150px 15px 15px;
                width: 100%;
            }
        }
        &__small {
            min-height: 160px;
            text-align: center;
            display: block;
            text-align: center;
            padding: 19px 25px 10px 25px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            background: linear-gradient(to top, rgba(18, 18, 18, 0.98) 0%, rgba(19, 20, 21 ,0.84) 63%, rgba(20, 21, 22, 0.7) 100%);
        }
    }
    &_image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }
    &_text {
        color: $light_color;
        font-size: 22px;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
        line-height: 1;
        z-index: 3;

        &__center {
            text-align: center;
            flex-grow: 1;
        }

        sup {
            font-size: 11px;
        }
        .bonuses_item__unavailable & {
            opacity: .5;
        }
    }
    &_big-text {
        font-size: 20px;
        line-height: 1.2;
        @include tablet {
            font-size: 26px;
        }
    }
    &_extra-big-text {
        font-size: 26px;
        @include tablet {
            font-size: 32px;
        }
    }
    &_bright-text {
        @include gradiented-text(#cf2a2c, #8c141b);
        font-size: 30px;
        font-weight: 900;
        white-space: nowrap;
        margin: 0 0 4px;
        display: inline-block;
        text-shadow: 0 0 10px rgba(#ae1e23, .7);
        @include tablet {
            font-size: 32px;
        }

        &__big {
            font-size: 40px;
            @include tablet {
                font-size: 50px;
            }
        }
        .bonuses_item__wide &__big {
            font-size: 56px;
        }
    }
    &_buttons {
        position: absolute;
        bottom: 20px;
        right: 20px;
        left: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 3;
        @include tablet {
            right: 50px;
            left: 50px;
            bottom: 30px;
            min-height: 42px;
        }

        .bonuses_item__wide & {
            @include tablet {
                flex-direction: column-reverse;
                left: auto;
                right: 35px;
                top: 37px;
                bottom: 37px;
            }
        }
        .bonuses_item__extra-wide & {
            @include tablet {
                flex-direction: column;
                left: auto;
                right: 15px;
                top: 12px;
                bottom: 12px;
            }
        }
    }
    &_link {
        text-transform: uppercase;
        text-decoration: underline;
        font-size: 14px;
    }
    &_stripe {
        position: absolute;
        right: 0;
        top: 0;
        box-sizing: border-box;
        height: 30px;
        padding: 6px 0;
        font-size: 14px;
        line-height: 1;
        font-weight: bold;
        color: $light_color;
        text-align: center;
        width: 120px;
        text-transform: uppercase;
        z-index: 4;
        transform: rotate(45deg) translate(25%, -30%);

        &__new {
            background: linear-gradient(to bottom, #e8332e, #d12c1c);
        }
        &__last {
            background: linear-gradient(to bottom, #417bc2, #3e75b3);
        }
        &__best {
            background: linear-gradient(to bottom, #f1d90e, #e6b31c);
        }
        &__free {
            background: linear-gradient(to bottom, #23b91e, #2a9b26);
        }
    }
    &_stripe-icon {
        height: 16px;
        vertical-align: -2px;
        margin: 0 5px 0 0;
    }
    &_meta {
        @include tablet {
            display: flex;
            flex-direction: column;
            min-width: 230px;
            align-items: flex-start;
        }
    }
    &_date {
        color: $light_color;
        font-size: 20px;
        text-transform: uppercase;
        position: relative;
        z-index: 3;
        font-weight: 600;
        display: block;
        @include tablet {
            position: absolute;
            left: 14px;
            top: 14px;
            margin: 0 0 15px;
        }

        .bonuses_item__small & {
            position: relative;
            left: auto;
            top: auto;
        }
    }
    &_logo {
        position: relative;
        z-index: 3;
        margin: 26px auto;
        width: auto;
        @include tablet {
            margin: 26px 0 0;
        }
    }
    &_name {
        color: $bright_color;
    }
    &_result-text {
        color: $light_color;
        font-size: 14px;
        font-weight: 600;
    }
    &_item-title {
        position: relative;
        z-index: 3;
        color: $bright_color;
        font-size: 18px;
        font-weight: 700;
    }
    &_item-description {
        position: relative;
        z-index: 3;
        color: $light_color;
        font-size: 12px;
        margin: 0 0 14px;
    }
    &_read-more {
        position: relative;
        z-index: 3;
        color: $light_color;
        text-transform: uppercase;
        font-size: 14px;
        text-decoration: underline;
    }
    &_item-recieved {
        color: $light_color;
        font-size: 16px;
        padding: 0 0 0 25px;
        background: url(#{$img-path}/icons/check-green.svg) no-repeat 0 center;
        background-size: 16px auto;
    }
    &_more {
        color: $bright_color;
        font-size: 16px;
        padding: 0 22px 0 0;
        background: url(#{$img-path}/icons/arrow-right.svg) no-repeat right 4px;
        background-size: 15px auto;
        @include desktop {
            position: absolute;
            right: 0;
            top: -82px;
        }
    }
}
