.carousel {
    margin: 0 0 30px;
    @include tablet {
        @include layout;
        padding: 0 30px;
    }
    @include desktop {
        margin-bottom: 50px;
    }

    &_item {
        display: block;
        margin: 0 7px;
    }
    &_image {
        border-radius: 15px;
        width: 100%;
    }
}
