.ratings-wrapper {
    width: 100%;
    @include desktop {
        min-width: 290px;
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 4;
        width: auto;
    }
}

.rating {
    margin: 0 0 20px;
    @include desktop {
        margin: 0;
    }

    &__indent {
        margin: 0 0 60px;
        @include desktop {
            margin: 0 0 60px;
        }
    }

    &:first-child:not(.rating__indent) {
        @include desktop {
            margin: 0 0 20px;
        }
    }

    &_table-wrapper {
        margin: -10px 0 0;
        border: 2px solid $bright_color;
        border-radius: 13px;
        padding: 10px 15px 20px 15px;

        &__small-indent {
            padding-top: 15px;
            padding-bottom:  15px;
        }
        &__no-indent {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    &_table-first {
        color: #ffc632;
    }
    &_table-second {
        color: #b9b9b9;
    }
    &_sum {
        color: #3dac4c;
        white-space: nowrap;
    }
    &_date {
        color: #7f8a95;
    }

    td {
        color: $light_color;
        line-height: 1;
        padding: 3px 5px 2px 0;
        border: none;

        &:first-child {
            color: #7f8a95;
        }
        &:last-child {
            text-align: right;
        }
    }

    &_title {
        display: block;
        font-size: 16px;
        line-height: 17px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 16px 0;
        text-transform: uppercase;

        &__gold {
            color: #ffc632;
        }
        &__silver {
            color: #7f8a95;
        }
        &__bronze {
            color: #734018;
        }
    }
    &_games {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 25px;
        @include tablet {
            grid-template-columns: 1fr 1fr 1fr;
            grid-row-gap: 40px;
            grid-column-gap: 13px;
        }
    }
    &_game-image {
        border-radius: 15px;
    }
}
