.switch-wrapper {
    text-align: center;
}

.switch {
    margin: 0 auto 38px; 
    overflow: auto;
    text-align: center;

    &_items {
        border: 1px solid #2b3036;
        border-radius: 36px;
        display: inline-flex;
    }
    &_item {
        color: $color;
        background: transparent;
        border-color: transparent;
        display: inline-flex;
        align-items: center;
        padding: 6px 35px;
        white-space: nowrap;
        transition: .2s ease-in-out all;

        &:hover,
        &__hover {
            color: $bright_color;
        }
        &__active {
            color: $bright_color;
            border-color: $bright_color;
            box-shadow: 0 0 10px 2px rgba($bright_color, .25), 0 0 10px 2px rgba($bright_color, .25) inset;
        }
    }
    &_icon {
        width: 22px;
        color: $color;
        fill: $color;
        margin: 1px 12px 0 0;

        .switch_item:hover &,
        .switch_item__hover &,
        .switch_item__active & {
            color: $bright_color;
            fill: $bright_color;
        }

        path {
            transition: .2s ease-in-out fill;
        }
    }
}
