.transaction {
    color: $light_color;
    padding: 15px 20px 50px;
    text-align: center;

    &_title {
        font: 600 35px $font-family;
        line-height: 1.1;
        margin: 0 0 25px;
        @include tablet {
            margin-bottom: 55px;
        }
    }
    &_image {
        margin: 0 0 25px;
        @include tablet {
            margin-bottom: 50px;
        }
    }
    &_subtitle {
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        margin: 0;
        line-height: 1.1;
    }
    &_text {
        margin: 8px 0 42px;
    }
    &_count {
        color: $bright_color;
        font: 700 60px $font-family;
    }
}
