.up-button {
    display: none;
    
    @include tablet {
        display: block;
        position: fixed;
        bottom: 55px;
        right: 55px;
        background: $bg_color url(#{$img-path}/icons/chevron-up.svg) no-repeat center center;
        background-size: 14px auto;
        border: 1px solid #d42b2e;
        border-radius: 50%;
        height: 42px;
        width: 42px;
        opacity: 0;
        visibility: hidden;
        transition: .2s ease-in-out opacity, .0001s ease-in-out visibility .2s;

        &.active {
            opacity: 1;
            visibility: visible;
            transition: .2s ease-in-out opacity .0001s, .0001s ease-in-out visibility;
        }
    }
}
