.social {
    display: flex;
    gap: 16px;

    &_link {
        filter: brightness(1);
        transition: .2s $easingSmooth filter;

        &:hover {
            filter: brightness(2);
        }
        &:active {
            filter: brightness(1.2);
        }
    }
}
